<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ThePagePulse</title>
</head>
<body>
    <div id="wrapper">
        <div class="nav">
            <a class="name" href="/">
                <div class="title"><font>ThePagePulse</font></div>
                <div class="sub-title"><font>World of Books: Insights, Research, and Recommendations</font></div>
            </a>
            <div class="menu">
                <a href="/about"><p>About</p></a>
                <a href="/methods"><p>Methods</p></a>
                <a href="/workshowcase"><p>Work Showcase</p></a>
                <a href="/results"><p>Results</p></a>
                <a href="/demo/trends"><p>Demo</p></a>
                <a href="/blogs"><p>Blogs</p></a>
                <a href="/contact"><p>Contact</p></a>
            </div>
        </div>
    </div>
</body>
</html>
