<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ThePagePulse</title>
</head>
<body>
    <div id="wrapper">
        <div class="nav">
            <a class="name" href="/">
                <div class="title"><font>ThePagePulse</font></div>
                <div class="sub-title"><font>World of Books: Insights, Research, and Recommendations</font></div>
            </a>
            <div class="menu">
                <a href="/about"><p>About</p></a>
                <a href="/methods"><p>Methods</p></a>
                <a href="/workshowcase"><p>Work Showcase</p></a>
                <a href="/results"><p>Results</p></a>
                <a href="/demo/trends"><p>Demo</p></a>
                <a href="/blogs"><p>Blogs</p></a>
                <a href="/contact"><p>Contact</p></a>
            </div>
        </div>

        <div class="welcome">
            <p>Welcome to The Page Pulse, where we delve into the dynamic world of literature with an analytical eye. Explore our research, insights, and cutting-edge recommendations as we navigate the vast expanse of books together. Whether you're a seasoned bibliophile or just beginning your literary journey, The Page Pulse is your companion in discovering the next captivating read. Join us as we uncover the hidden gems and explore the depths of the written word.</p>
            <img src="/static/images/img1" alt="">
        </div>
        <br>
        <br>
        <div class="different-methods">
            <p class="heading">Introduction</p>
            <p class="content">In the current era there are many libraries and book selling website present on the internet with many of them having their own recommendation system to recommend books to the buyers. And lots of information and recommendations are pushed to buyers, with most of them not relevant to the user. In this project we are trying to present a new approach of recommending books to the user. We have combined the features of Content filtering and Collaborative filtering produce efficient and effective recommendations</p>
            <p class="content">In this Project, I have compared different methods and algorithms of Recommendation. For comparison, I have used Book Ratings Dataset which has 1149780 Ratings from 278858 unique Users on 271360 unique Books. </p>
            <div style="display: flex; justify-content: space-between; width: 84%;">
                <div>
                    <p class="sub-heading">Recommendation System</p>
                    <ol>
                        <li>Popularity Based Recommendation</li>
                        <li>Collaborative Filtering</li>
                        <li>Content Based Filtering</li>
                    </ol>
                </div>
                <div>
                    <p class="sub-heading">Factor Based Approaches</p>
                    <ol>
                        <li>Matrix Factorization</li>
                        <li>Probalistic Matrix Factorization</li>
                        <li>Singular Value Decomposition (SVD)</li>
                    </ol>
                </div>
            </div>

        </div>

    </div>
</body>
</html>